@model List<MovieViewModel>

<h1>@ViewData["Title"]</h1>

<form asp-action="Search" asp-controller="Movies" method="get" class="mb-4">
    <div class="container my-4">
    <div class="mb-2" style="display: flex">
        <h4>Search:</h4>
        <input type="text" name="query" placeholder="Enter keywords" class="form-control mx-2" />
    </div>
    <h4>Select Genres:</h4>
        @if (ViewData["Genres"] != null)
        {
            <div class="row justify-content-center">
                @foreach (var genre in ViewData["Genres"] as List<TmdbGenre>)
                {
                    <div class="col-md-2 col-sm-3 mb-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="selectedGenres" value="@genre.Id" />
                            <label class="form-check-label">@genre.Name</label>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

<div class="movie-list">
    @foreach (var movie in Model)
    {
        <div class="movie-item">
            <h2>
                <a href="@Url.Action("Details", "Movies", new { id = movie.Id })">@movie.Title</a>
            </h2>
            <p><strong>Overview:</strong> @movie.Overview</p>
                <p><strong>Rating:</strong> @movie.Score.ToString("F1")</p>
            <p><strong>Vote Count:</strong> @movie.ScoreCount</p>
        </div>
    }
</div>

<style>
    .movie-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .movie-item {
        border: 1px solid #ccc;
        padding: 10px;
        flex-grow: 1;
        background-color: #f9f9f9;
    }

    .movie-item h2 {
        font-size: 18px;
        margin: 0;
    }

    .movie-item p {
        font-size: 14px;
        margin: 5px 0;
    }
</style>