@model List<MovieViewModel>

@{
    ViewData["Title"] = "Now Playing Movies";
}

<h1>@ViewData["Title"]</h1>

<div class="movie-list">
    @foreach (var movie in Model)
    {
        <div class="movie-item">
            <h2>
                <a href="@Url.Action("Details", "Movies", new { id = movie.Id })">@movie.Title</a>
            </h2>
            <p><strong>Overview:</strong> @movie.Overview</p>
                <p><strong>Rating:</strong> @movie.Score.ToString("F1")</p>
            <p><strong>Vote Count:</strong> @movie.ScoreCount</p>
        </div>
    }
</div>

<style>
    .movie-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .movie-item {
        border: 1px solid #ccc;
        padding: 10px;
        flex-grow: 1;
        background-color: #f9f9f9;
    }

    .movie-item h2 {
        font-size: 18px;
        margin: 0;
    }

    .movie-item p {
        font-size: 14px;
        margin: 5px 0;
    }
</style>